<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../css/getbootstrap.min.css"> {{!--
    <link rel="stylesheet" href="../css/style.css"> --}}
</head>

<body>
    {{>header}}


    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <h1 class="my-4">About Us
            <small>It's Nice to Meet You!</small>
        </h1>
        <p>At PC-Repair, we believe everyone deserves to have a website or online store. Innovation and simplicity makes us
            happy: our goal is to remove any technical or financial barriers that can prevent business owners from making
            their own website. We're excited to help you on your journey!
        </p>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="my-4">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../img/elonmusk.jpg" alt="">
                <h3>Elon Musk
                    <small>Chief Technical Officer</small>
                </h3>
                <p> Is an American business magnate, investor and engineer. He is the founder, CEO, and lead designer of SpaceX;
                    co-founder, CEO, and product architect of Tesla,</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../img/jeff.jpg" alt="">
                <h3>Jeff Bezos
                    <small>Chief Executive Officer</small>
                </h3>
                <p>Is an American technology entrepreneur, investor, and philanthropist, who is best known as the founder, chairman,
                    and chief executive officer of Amazon, the world's largest online retailer.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../img/mark.jpg" alt="">
                <h3>Mark Zuckerberg
                    <small>Software Architect</small>
                </h3>
                <p>Is an American technology entrepreneur and philanthropist best known for co-founding and leading Facebook
                    as its chairman and chief executive officer.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../img/steve.jpg" alt="">
                <h3>Steve Jobs
                    <small>Chief Financial Officer </small>
                </h3>
                <p>Was an American entrepreneur and business magnate. He was the chairman, chief executive officer, and a co-founder
                    of Apple Inc</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../img/tejas.jpg" alt="">
                <h3>Sabunkar Tejas Shailesh
                    <small>Software Architect</small>
                </h3>
                <p>Is an Indian Software architect currently working on his own products and softwares</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../img/sundar.jpg" alt="">
                <h3>Sundar Pichai
                    <small>Chief Operational Officer</small>
                </h3>
                <p>s an Indian American business executive. Pichai is the chief executive officer of Google Inc.</p>
            </div>
        </div>

    </div>
    <!-- /.container -->


    {{>footer}}
    </main>
</body>

</html>